@font-face {
    font-family: 'Comic Sans MS';
    src: url('./ComicSansMS.eot');
    src: url('./ComicSansMS.eot?#iefix') format('embedded-opentype'),
        url('./ComicSansMS.woff2') format('woff2'),
        url('./ComicSansMS.woff') format('woff'),
        url('ComicSansMS.ttf') format('truetype'),
        url('./ComicSansMS.svg#ComicSansMS') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}